<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="../fontes/exo2-400.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="../fontes/exo2-900.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Jogo da Medicina</title>
    <link rel="stylesheet" href="styles/style2.css?v=1.2.3">

</head>
<body>
<audio id="xpSound" preload="auto">
  <source src="musicas/levelup.mp3" type="audio/mpeg">
</audio>
<audio id="endPause" preload="auto">
  <source src="musicas/pauseend.mp3" type="audio/mpeg">
</audio>
<div id="app" v-cloak>
    <div class="sidebar">
        <!-- Sidebar content goes here -->
        <ul>
            <li><a href="progressbar.html"><i class="fas fa-clock"></i> Pomodoro</a></li>
            <li><a href="ranking.html"><i class="fas fa-trophy"></i> Ranking</a></li>
            <li><a href="catalog.html"><i class="fas fa-book"></i>Choices</a></li>
            <li><a href="perfil"><i class="fas fa-user"></i> Meu perfil</a></li>
            <li><a href="#"><i class="fas fa-cog"></i> Configurações</a></li>
            <li><a href="adm2.html"><i class="fas fa-tools"></i>Admin</a></li>
            <li><a href="#" id="logout-button"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="progress-container">
            <h1><div id="nivel">Nível {{ level }}</div></h1>
            <p class="level-info">Seu progresso:</p>
            <div class="progress-bar">
                <div class="progress" :style="{ width: progress + '%' }"></div>
            </div>
            <p id="message" v-if="message.trim() !== ''">{{ message }}</p>
            <span class="countdown-text" v-if="countdownVisible">{{ countdown }}</span>

            <div class="pomodoro-toggle" @click="togglePomodoroOptions" v-if="!timerStarted">
                <i class="fas fa-clock"></i>
            </div>
            <div class="pomodoro-options" v-if="showPomodoroOptions && !timerStarted">
                <button @click="selectPomodoro(30)" :class="{ selected: selectedPomodoro === 30 }">30 minutos</button>
                <button @click="selectPomodoro(50)" :class="{ selected: selectedPomodoro === 50 }">50 minutos</button>
                <button @click="selectPomodoro(60)" :class="{ selected: selectedPomodoro === 60 }">60 minutos</button>
            </div>

            <button id="more-xp" @click="handleMoreXpClick" v-if="pomodoroSelected && !showPomodoroOptions && !timerStarted" :disabled="!canClick">Ganhar XP</button>

            <div class="avatar-section">
                <img src="imagens/enfermeira-fofa.svg" alt="Avatar">
                <div class="name-selection">
                    <div id="welcome-message">{{ welcomeMessage }}</div>
                    <button @click="selectName('Josefina')" v-if="!nameSelected">Josefina</button>
                    <button @click="selectName('Joseph')" v-if="!nameSelected">Joseph</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> 
    <script src="script/script2.js?v=1.2.3"></script>
    <script src="script/logout.js"></script>
    <script src="script/service-worker.js"></script>



</body>
</html>