:root {
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --white-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --row-hover-color: #f1f1f1;
}

@font-face {
    font-family: 'Exo2';
    src: url('../fontes/exo2-400.woff2') format('woff2'),
         url('../fontes/exo2-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Exo2', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 175px;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px var(--shadow-color);
    padding: 20px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Cursor pointer */
}

.sidebar ul li:hover {
    background-color: var(--primary-hover-color);
}

.sidebar ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.sidebar ul li a i {
    margin-right: 8px;
    min-width: 20px; /* Definindo uma largura mínima para os ícones */
    text-align: center; /* Centralizando ícones */
}

.content {
    margin-left: 175px;
    padding: 40px;
    width: calc(100% - 175px);
    background-color: var(--white-color);
    box-shadow: 0 0 15px var(--shadow-color);
    border-radius: 10px;
}

[v-cloak] {
    display: none;
}

h2 {
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {
    appearance: none;
    background-color: var(--white-color);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23007bff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
    padding-right: 30px; /* Espaço para a seta */
}

button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-hover-color);
}

button:active {
    transform: translateY(2px);
}

/* Estilos adicionais para "Adicionar Questões à Prova" */
.questoes-disponiveis {
    margin: 20px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--background-color);
}

.questao-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.questao-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.questao-item label {
    display: flex;
}

.questao-item input[type="checkbox"] {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .sidebar, .right-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}
