:root {
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --white-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --row-hover-color: #f1f1f1;
}

@font-face {
    font-family: 'Exo2';
    src: url('../fontes/exo2-400.woff2') format('woff2'),
         url('../fontes/exo2-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Exo2', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 200px;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px var(--shadow-color);
    padding: 20px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
    background-color: var(--primary-hover-color);
}

.sidebar ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.sidebar ul li a i {
    margin-right: 8px;
}

.content {
    margin-left: 200px;
    padding: 10px 40px 40px 40px;
    max-width: 800px;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0 15px var(--shadow-color);
    border-radius: 10px;
}

[v-cloak] {
    display: none;
}

h1 {
    font-size: 28px;
    color: var(--secondary-color);
}

form .form-group {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.avatar-selection {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.avatar-selection img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.avatar-selection img.selected {
    border-color: #007bff;
}

/* nova parte*/

.avatar-container {
    display: flex;
    align-items: center;
}

.avatar-wrapper {
    display: flex;
    overflow-x: auto;
    width: calc(100% - 60px);
    scroll-behavior: smooth;
}

.avatar {
    width: 77px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.avatar.selected {
    border: 1px solid var(--primary-color);
}

.scroll-button {
    width: 17px;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 35%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button.left {
    margin-right: 10px;
}

.scroll-button.right {
    margin-left: 10px;
}

.button-container {
    text-align: left;
}

form button {
    background-color: var(--primary-color);
    box-shadow: 0px 4px #0063cd;
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--primary-hover-color);
}
