/* Define color variables for easier theme management */
:root {
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --white-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --gold-color: #ffd700;
    --silver-color: #c0c0c0;
    --bronze-color: #cd7f32;
    --row-hover-color: #f1f1f1;
}

/* Improved font-face with fallback */
@font-face {
    font-family: 'Exo2';
    src: url('../fontes/exo2-400.woff2') format('woff2'),
         url('../fontes/exo2-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Exo2', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-grow: 1;
}

#imagem {
    text-align: center; /* Centers the image horizontally */
    padding: 0px; /* Adds some space around the image */
}

#imagem img {
    width: auto; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio */
    max-width: 400px; /* Maximum size of the image */
    object-fit: contain; /* Ensures the image is fully visible */
    transform: rotate(90deg);
}

.sidebar {
    width: 200px;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px var(--shadow-color);
    padding: 20px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
    background-color: var(--primary-hover-color);
}

.sidebar ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.sidebar ul li a i {
    margin-right: 8px;
}

.content {
    margin-left: 200px;
    padding: 40px;
    max-width: 800px;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0 15px var(--shadow-color);
    border-radius: 10px;
}

[v-cloak] {
    display: none;
}

h1 {
    font-size: 28px;
    color: var(--secondary-color);
}

.button-container {
    margin: 20px 0;
}

.button-container button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin: 0 5px;
}

.button-container button.active,
.button-container button:hover {
    background-color: var(--primary-hover-color);
}

.ranking-section {
    margin-top: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.icon-spacing {
    display: flex;
    align-items: center;
}

.icon-spacing i {
    margin-right: 16px; /* Ajuste a margem conforme necessário */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    transition: background-color 0.3s ease;
}

th {
    background-color: var(--background-color);
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: var(--white-color);
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: var(--row-hover-color);
}

tr.first-place td {
    background-color: var(--gold-color);
    color: var(--secondary-color);
    font-weight: bold;
}

tr.second-place td {
    background-color: var(--silver-color);
    color: var(--secondary-color);
    font-weight: bold;
}

tr.third-place td {
    background-color: var(--bronze-color);
    color: var(--secondary-color);
    font-weight: bold;
}

.right-sidebar {
    width: 250px;
    background-color: #f9f9f9;
    color: var(--secondary-color);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px var(--shadow-color);
    padding: 20px;
}

.right-sidebar .profile-summary, .right-sidebar .notifications {
    margin-bottom: 20px;
}

.right-sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.right-sidebar h2 i {
    margin-right: 8px;
}

.right-sidebar p, .right-sidebar ul {
    margin: 0;
    padding: 0;
}

.right-sidebar ul {
    list-style: none;
}

.right-sidebar ul li {
    margin-bottom: 10px;
}

/* Parte de la imagem del Podium */
.podium {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-top: 120px;
    margin-bottom: 20px;
}

.podium-img {
    width: 300px;
    height: auto;
}

.avatar {
    position: absolute;
    /*width: 113px;*/
    height: 100%;
}

.avatar-name {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
}

#avatar-name-1 {
    top: -123px;
    left: 9px;
}

.avatar-1 {
    top: -104px;
    left: 378px;
}

#avatar-name-2 {
    top: -94px;
    left: -67px;
}

.avatar-2 {
    top: -75px;
    left: 292px;
}

#avatar-name-3 {
    top: -85px;
    left: 81px;
}

.avatar-3 {
    top: -65px;
    left: 430px;
}

@media (max-width: 768px) {
    .sidebar, .right-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        margin-right: 0;
    }
}
